__pycache__
.pytest_cache
*.swp
*~
.cache
.ipynb_checkpoints
.DS_Store
tex2pdf*
.mypy_cache
.log
.coverage
.idea
.vscode
07_gashlycrumb/gashlycrumb.py
13_twelve_days/twelve_days.py
14_rhymer/rhymer.py
15_kentucky_friar/friar.py
16_scrambler/scrambler.py
17_mad_libs/mad.py
18_gematria/gematria.py
19_wod/wod.py
20_password/password.py
21_tictactoe/tictactoe.py
